.banner_area{
    background-image: url(https://i.ibb.co/BqQg9rY/banner-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_content h1{
    color: #ffffff;
    font-size: 50px;
}
.banner_content h1 span{
    color: #fc5b62;
    font-size: 70px;
}
.banner_content p{
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0 30px;
}